@model WishlistEmailAFriendModel
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.WishlistEmailAFriend").Text);
}
<div class="page email-a-friend-page trade-form text-center">
    <div class="topic-title">
        <h2>@T("Wishlist.EmailAFriend.Title")</h2>
    </div>
    <div class="col-md-6 col-sm-12 center-block">
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                var validationSummary = Html.ValidationSummary(true);
                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                <div class="fieldset">
                    <div class="form-fields mb-30">
					<div class="row">
                        <div class="field">
							<div class="col-md-5">
                            	@Html.LabelFor(model => model.FriendEmail)
							</div>
							<div class="col-md-7">
								@Html.TextBoxFor(model => model.FriendEmail, new { @class = "friend-email", placeholder = T("Wishlist.EmailAFriend.FriendEmail.Hint") })
								@Html.ValidationMessageFor(model => model.FriendEmail)
							</div>
                        </div>
						
                        <div class="field">
							<div class="col-md-5">
                            	@Html.LabelFor(model => model.YourEmailAddress)
							</div>
							<div class="col-md-7">
								@Html.TextBoxFor(model => model.YourEmailAddress, new { @class = "your-email", placeholder = T("Wishlist.EmailAFriend.YourEmailAddress.Hint") })
								@Html.ValidationMessageFor(model => model.YourEmailAddress)
							</div>
                        </div>
						
                        <div class="field">
							<div class="col-md-5">
                            	@Html.LabelFor(model => model.PersonalMessage)
							</div>
							<div class="col-md-7">
								@Html.TextAreaFor(model => model.PersonalMessage, new { @class = "personal-message", placeholder = T("Wishlist.EmailAFriend.PersonalMessage.Hint") })
								@Html.ValidationMessageFor(model => model.PersonalMessage)
							</div>
                        </div>
						
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                    </div>
                	
					<div class="row">
						<div class="buttons col-md-7 text-left col-md-offset-5">
							<input type="submit" name="send-email" class="button-1 send-email-a-friend-button btn btn-primary" value="@T("Wishlist.EmailAFriend.Button")" />
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				</div>
            }
        }
    </div>
</div>
