@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="inner-page account-page change-password-page">
            <div class="trade-form">
                <h2>@T("Account.ChangePassword")</h2>
                    <div class="row">
                        <div class="mb-30">
                           
                                @if (!String.IsNullOrEmpty(Model.Result))
                                {
                                    <div class="result">
                                        @Model.Result
                                    </div>
                                }
                                @{
    var validationSummary = Html.ValidationSummary(true);
                                }
                                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                {
                                    <div class="message-error">@validationSummary</div>
                                }
                            <div class="form-fields">
                                <div class="field">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.OldPassword, new { }, ":")
                                        @Html.RequiredHint()
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.OldPassword)
                                        @Html.ValidationMessageFor(model => model.OldPassword)
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.NewPassword, new { }, ":")
                                        @Html.RequiredHint()
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.NewPassword)
                                        @Html.ValidationMessageFor(model => model.NewPassword)
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.ConfirmNewPassword, new { }, ":")                                      
                                        @Html.RequiredHint()
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ConfirmNewPassword)
                                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                    </div>
                                </div>
                                </div>

                                <div class="buttons">
									<div class="col-md-8 col-md-offset-4">
										<input type="submit" class="btn btn-primary change-password-button" value="@T("Account.ChangePassword.Button")" />
									</div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
   

}
