@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="main-content inner-page">
    <div class="container password-recovery-page">
        <div class="trade-form text-center">
            <h2>@T("Account.PasswordRecovery")</h2>

            <div class="page-body">
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                <div class="col-md-6 col-md-offset-3 password-recovery-block">
                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                                <div class="fieldset">
                                    <div class="field">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.Email, new { }, ":")
                                            @Html.RequiredHint()
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
                                    </div>
                                </div>

                                <div class="buttons">
                                    <input type="submit" name="send-email" class="btn-primary btn password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
